In [3]:
#Datatypes in python
'''
    Data Types specifies the type of value a variable
    requires to do various operations without causing error.
    By default,python provides the datatypes
'''
#numeric data types
a=10#int data type
b=8.8#float data type
c=complex(a,b)#complex data type

#text data type
d="My Name"#string data type

#boolean data type
e=True#boolean data type

print(f"The type of {a} is",type(a))
print(f"The type of {b} is",type(b))
print(f"The type of {c} is",type(c))
print(f"The type of {d} is",type(d))
print(f"The type of {e} is",type(e))
'''
    The type of 10 is <class 'int'>
    The type of 8.8 is <class 'float'>
    The type of (10+8.8j) is <class 'complex'>
    The type of My Name is <class 'str'>
    The type of True is <class 'bool'>
'''

The type of 10 is <class 'int'>
The type of 8.8 is <class 'float'>
The type of (10+8.8j) is <class 'complex'>
The type of My Name is <class 'str'>
The type of True is <class 'bool'>

"\n    The type of 10 is <class 'int'>\n    The type of 8.8 is <class 'float'>\n    The type of (10+8.8j) is <class 'complex'>\n    The type of My Name is <class 'str'>\n    The type of True is <class 'bool'>\n"

In [1]:
#sequential data type :List,Tupple and Range
#List
""" It is an ordered collection of data with elements separated by commas
   and enclose with in sequence brackets
   List are mutuable data type"""

a=[99,"Anil"]
print(a)       #[99, 'Anil']
print(type(a)) #<class 'list'>

#print(a[1])

[99, 'Anil']
<class 'list'>
Anil

In [8]:

#Tupple
'''
    it is an ordered collection of data with elements separated by a commas
    and enclosed with in paranthesis
    They are immutable and cannot be modified after creation.
'''
b=('Bajhipur-4',' Bhingri')
print(b)       #('Bajhipur-4', ' Bhingri')
print(type(b)) #<class 'tuple'>

('Bajhipur-4', ' Bhingri')
<class 'tuple'>

In [9]:

#Range
'''
    it return a sequence of number by the user.
    if not then specified by the user then start from 0 by default
    and incremented by 1.
    and enclosed with parenthesis
'''
sequence_1=range(4,12,2)
for i in sequence_1:
    print(i) #4 6 8 10
print(type(sequence_1)) #<class 'range'>

4
6
8
10
<class 'range'>

In [10]:

#Set data type
#set
'''
    set is an unordered collection of elements in which no element is repeated
    The elements of sets are separated by a commas and 
    contained within curly braces
'''
c={8,'My Roll Number'}
print(c)      #{8, 'My Roll Number'}
print(type(c))#<class 'set'>

{8, 'My Roll Number'}
<class 'set'>

In [11]:
#mapped data type
#dict
'''
    A dictionary is an unordered collection of data containing a
    key: value pair
    The values are enclose within curly brackets    
'''

dict_1={
    "name":'Anil Nepali',
    "age":21,
    "CanVote":True
}

print(dict_1)

{'name': 'Anil Nepali', 'age': 21, 'CanVote': True}

In [4]:
#bytes
'''
    bytes() method returns an immutable bytes object by initialized with 
    the given size and data.
'''
str = "Python is interesting"
arr = bytes(str,'utf-8')
print(arr)      #b'Python is interesting'
print(type(arr))#<class 'bytes'>

'''utf-8(unicode transformation Format) and 8 means 8 bit value are use in encoding'''

b'Python is interesting'
<class 'bytes'>

'utf-8(unicode transformation Format) and 8 means 8 bit value are use in encoding'